
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-rendering: optimizeLegibility;
}

/* h1, h2, h3 {
    text-transform: uppercase;
} */

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.5rem;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2 {
    /* font-size: 180%; */
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #4cadbf;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

 .logo {
   height: 110px;
   /* width: auto; */
}

.btn-danger:link,
.btn-danger:visited {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 200px;
  background-color: #B4261F;
  border: 1px solid #B4261F;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.2) ,rgba(0,0,0,0.2)), url(images/House_bgi.jpg);
  /* Makes the image fit the container    */
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Keeps the background fixed so the content scrolls over it   */
  background-attachment: fixed;
}

.main-text-box {
  padding-top: 20%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 19px 23px rgba(0,0,0,0.1);
}

.section-features {
  padding: 80px 0;
}

.long-copy {
    line-height: 145%;
    /* This centers the text, 15% on left side and 15% on right. Width is 70% because otherwise the length of text on full screens is too long per line (should be no more than 2 aphabets)*/
    /* width: 800px;
    max-width: 90%;
    margin-left: 15%; */
    margin-bottom: 20px;
}

.gallery .gallery-photo {
  padding: 0;
  /*Make this as large as the li container its in and fix any margin normalize.css might have added*/
  width: 100%;
  margin: 0;
  /* Without this, the transform below causes the images to "overflow their parent container"   */
  overflow: hidden;
  /* This combined with opacity in next rule darkens the img */
  background-color: #000;
}

.gallery-photo img {
  opacity: 0.7;
  width: 100%;
  height: 250px;
  transform: scale(1.15);
  /* This is triggered by the rule below   */
  transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
    /* If we scale to 100% of the img size, a white space appears below the img  */
    opacity: 1;
    transform: scale(1.03);
}
